extends  ../layout

block content
  .row.panel.board-show(data-id=board.id) Задачи на доске "#{board.title}":
  br
  .row
    if tasks.length > 0
      table
        thead
          tr
            th Выполнено?
            th Название
            th Описание
            th Автор
            th
        tbody.check-list
          - each task in tasks
            tr(class='task-row-' + task.id)
              td
                input.task-checkbox(type='checkbox', data-id=task.id, checked=task.complete)
              td
                a(href='/task/show/' + task.id)=task.title
              td
                =task.description
              td
                =task.owner.username
              td
                span.task-delete.button.allert(data-id=task.id) Удалить задачу

        
    if tasks.length == 0
      .alert-box.radius.h2 Задач на доске нет. Попроси друзей накидать!
      
    a.button(href='/task/new/' + board.id) Добавить сюда новую задачу
